__pycache__/
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.obj
*.o
*.lib
*.exp
*.pdb
*.ilk

build/
dist/
*.spec

cache/
thumbnails/
logs/
model_cache/*.onnx
model_cache/*.txt
model_cache/*_config.json

.env
*.log

.trae/
